*{border: none;padding:0;margin:0;}
body{font-family:'Open Sans', sans-serif;color:#333; font-size:15px;line-height:200%;font-weight: 300; letter-spacing:0.03em; word-spacing:0.05em;}

.pink-bg{background:#EE4C6A;}
.lightpink-bg{background:#EF5673;}

.pink{color: #EE4C6A;}
.white{color:white;}

.padding-sixty{padding:150px 0;}
.padding-hundred{padding:100px 0;}
.padding-sixty-top{padding:130px 0 0 0;}
.margin-top{margin-top:550px !important;}
.margin-top-less{margin-top:200px !important;}
.block{display: block;}
.spacer{height:0px;}
.smaller{font-size:14px;}
.bolder{font-weight: 900}
.montserrat{font-family: 'Montserrat', sans-serif;}
.header{background:rgba(248,248,248,0.97); padding:30px 0 10px 0;font-family: 'Montserrat', sans-serif;position:static;width:100%;z-index:99;}
.logo{width:90px;height:auto;margin-bottom:10px;}
.sticky-header{font-family: 'Montserrat', sans-serif;background:rgba(248,248,248,0.97) !important;position: fixed;top:0;width:100%;z-index:999;padding:0 0 10px 0;}
	.sticky-header .logo{display: none;}
	.sticky-header.longer{background:#f8f8f8;height:600px;}
.longer{height:700px;}
.navigation{margin:20px 0 0 0;}
.navigation a{color:#333;margin:0 20px;font-size:14px;padding:5px;}
	.navigation a:hover, .navigation a.active, .has-dropdown:hover a{border-bottom:1px solid #EE4C6A;color:#EE4C6A !important;text-decoration: none}
.has-dropdown{position: relative;display:inline-block;}
.has-dropdown a{text-decoration: none;outline: none;border:none;cursor: pointer}
.navigation .sub-menu{position: absolute; left:0; text-align: left;padding:20px 20px 80px 20px;display: none;}
	.navigation .sub-menu li{list-style: none;width:300px;margin:5px 0;}
	.navigation .sub-menu a{display: block;margin:5px 0;border-bottom:none;color:#EE4C6A;padding:0;}
.fixed{position:fixed !important;width:100%;}
	.push .spacer{height:143px;}
.about{padding:120px 0!important;}

.work{font-size:13px;line-height:220%;padding:80px 0!important;font-weight: 400}

.work h3{font-size:28px; font-family: "Montserrat";font-weight:900;line-height:150%;}
.work h5{margin:20px 0 10px 0;font-size:14px; font-family: "Montserrat";}
.work p{margin-bottom:40px;}
.work a{color:#EE4C6A;font-weight:900;}
.collaborator{position: relative; padding:0 !important;}
.large-tile{width:50%;}
	.blur{-webkit-filter: blur(3px);-moz-filter: blur(3px);-o-filter: blur(3px);-ms-filter: blur(3px);filter: blur(3px);opacity:0.3;transition: all 0.1s;}
	.blur:hover .content-short{display:none !important;}
	.collaborator{cursor: pointer;}
	.collaborator img{width:100%;}
	.collaborator .name{font-size:16px;}
	.collaborator .designation{font-size:12px;}
	.large-tile .name{font-size:21px;}
	.collaborator .content-short{position:absolute;bottom:0;width:100%;background: rgba(238,76,106,0.97);height:50%;padding:15px 0;line-height:150%;display:none;}
	.large-tile{padding:35px 0 !important;}
	.content-long{padding:30px;z-index:9;position: absolute;}
	.content-long p{font-size:13px;font-family: "Open Sans";margin-top:15px;font-weight:400;}
	.open .content-short{display: none !important}
	.overlay{opacity:0;width:100%;position: absolute;top:0;background:rgba(238,76,106,0.5);z-index:100;height:100%;transition: all 0.1s ease-out;}
	.opaque{opacity: 1}
.footer{padding:5px 0;margin-top:40px;}
.sticky-footer{bottom:0px; position:absolute;width:100%;display: block}
.mobile-underline{border-bottom:1px solid #EE4C6A !important;color:#EE4C6A !important;text-decoration: none}
.service{padding:30px 20px 30px 20px;cursor: pointer;font-family: "Open Sans"; font-size: 14px;font-weight: 300}
	.service p{margin:-10px 0 30px 0;font-weight:400;font-weight:13px;}
	.service h3{line-height: 140%;margin:0;padding-bottom:40px;font-size:20px;font-family: "Montserrat";font-weight:900;}	
	.service h4{font-size:15px;font-family: "Montserrat"}

.closed{background-image:url(images/white_arrow.png);background-repeat:no-repeat;background-position: center 80%; background-size:50px auto;}
.open{background-image:url(images/white_dash.png);background-repeat:no-repeat;background-position: center 95%; background-size:50px auto;padding-bottom:100px;}

.pagination{margin:80px 0 0 0;}
.pagination img{display: inline-block;margin:0;float:left;width:150px;height:auto;}

.work-images{width:70%;margin:0 auto;}
.work-images img{margin:1px 0;}
.testimonials{background:url(images/quote.png) no-repeat center top; background-size:120px auto;padding:140px 0 20px 0;margin:120px 0 0 0; font-size:14px;}
.testimonial{margin-top:15px;margin-bottom:15px !important;}

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}


@media screen and (max-width: 767px) {
	.text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }

.header .logo{display:block;}
.sticky-header .logo{display:block;}
.large-tile{padding:15px 30px !important;}
.mobile-menu-activator{position:absolute;top:0px;right:0px;width:25px;height:25px;background:url(images/menu_bar_mobile.png) no-repeat;background-size:25px auto;}
.collaborator .content-short{display: block;height:50%;padding:15px 30px;position: static}
.content-long{position:relative; padding:15px 30px;}
.large-tile .name{font-size:16px;}
.about{padding:120px 0 60px 0!important;}
.mobile-navigation{display:block;z-index:1000;top:52px;width:100%;height:100%;left:0;overflow:scroll !important;}
.mobile-navigation a, .mobile-navigation ul.has-dropdown{display:block; color:#333; font-size:20px;margin:5px 0; padding:10px; text-align: center}
.mobile-navigation ul.has-dropdown{margin:0;padding:0;}
.navigation{margin-top:20px;}
.navigation .sub-menu{position: static;}
.navigation .sub-menu{padding:20px 20px 10px 20px;}
.longer{height:auto;}
.has-dropdown:hover a{border-bottom:none;}
.mobile-navigation .sub-menu li{margin:0;padding:0;}
.mobile-navigation .sub-menu a{margin:3px 0;padding:3px 0; font-size:16px;border-bottom:none;}

.mobile-underline{border-bottom:none !important;color:#EE4C6A !important;}
.mobile-underline:hover{color:#EE4C6A !important;}
.mobile-underline:after{content: "";display: block;height:3px;border-bottom:1px solid #EE4C6A !important;width:30%;margin:0 auto;}
.mobile-navigation a:hover{border-bottom:none !important;}
.mobile-navigation a:hover:afer{content: "";display: block;height:3px;border-bottom:1px solid #EE4C6A !important;width:30%;margin:0 auto;}
.active{border-bottom:none !important;}
.active:after{content: "";display: block;height:3px;border-bottom:1px solid #EE4C6A !important;width:30%;margin:0 auto;}
.header{position: fixed;z-index:2;width:100%;padding:15px 0;text-align: left;z-index:999;overflow: scroll;}
.spacer{height:60px;}
.logo{width:60px;height: auto;margin:0;}
.sticky-header{background:rgba(248,248,248,1);padding:15px 0;}
.sticky-header.longer{background:#f8f8f8;height:100%;}
.navigation .sub-menu li{width:auto;}
.about{padding-top:150px;}
.pagination img{width:150px;height:auto;}
#menu{display: none;}
.work-images{width:100%;}
.blur{-webkit-filter: blur(0px);-moz-filter: blur(0px);-o-filter: blur(0px);-ms-filter: blur(0px);filter: blur(0px);opacity:1;transition: all 0.1s;}
.spacer{height:0;}
.push .spacer{height:0 !important;}
.padding-sixty-top{padding-top:0px;}
.black, .has-dropdown:hover .black{color:#333 !important;}
.work p{font-size:14px;}
.fullheight{height:100% !important;}
.work-page .sub-menu{display:block;}
.service h3{padding-bottom:50px;}
.show-hide{display:none;}
.has-dropdown:hover a:hover{color:#333 !important;}
.work-tab, .work-tab:hover{color:#333 !important;}
.pink{color: #EE4C6A !important;}
}